<!DOCTYPE html>
{% load static i18n %}
<html>
<head>
	<title>Risk Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
	<center><p>Risk Management</p></center>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<form role="form" action="{% url 'RiskApp:manage_model' %}" method="POST" autocomplete="off" id="sub">
				{% csrf_token %}
				<div class="form-group col-md-6">
					<label for="sel1">Select your risk type:</label>
					<select  class="form-control" id="sel1" name="risk[model_name]" required>
						<option value="" disabled selected>Select Risk</option>
						{% for i in risk_list %}
						<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</select>
					<button type="submit" class="col-md-5 btn btn-primary custom-class">Submit</button>
				</div>
				<div class="clearfix"></div>
				<div class="form-group" id="form_field">
			</div>
				<input type='hidden' name='risk[counter]' id="counter_field">
			</form>
		</div>
		<div class="col-md-4">
			<div class="control-group">
				<label class="control-label" for="field1">Risk Fields</label>
				<div class="controls"> 
					<div class="entry input-group col-xs-10">
						<span class="input-group-btn">
							<button class="btn btn-success btn-add-text form-control" type="button">Add Text Field
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
					<small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small> 
				</div>
			</div>
			<div class="control-group">
				<div class="controls"> 
					<div class="entry input-group col-xs-10">
						<span class="input-group-btn">
							<button class="btn btn-success btn-add-number form-control" type="button">Add Number Field
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
					<small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small> 
				</div>
			</div>

			<div class="control-group">
				<div class="controls"> 
					<div class="entry input-group col-xs-10">
						<span class="input-group-btn">
							<button class="btn btn-success btn-add-date form-control" type="button">Add Date Field
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
					<small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small> 
				</div>
			</div>

			<div class="control-group">
				<div class="controls"> 
					<div class="entry input-group col-xs-10">
						<span class="input-group-btn">
							<a class="btn btn-primary " id="custom" href="{% url 'RiskApp:risk_template' %}" role="button">View all risks</a>
						</span>
					</div>
					<small>Press <span class="glyphicon glyphicon-plus gs"></span> to view all risks :)</small> 
				</div>
			</div>

			<div class="control-group">
				<div class="controls"> 
					<div class="entry input-group col-xs-10">
						<span class="input-group-btn">
							<a class="btn btn-primary " id="custom" href="{% url 'RiskApp:single_risk' %}" role="button">View Single Risk</a>
						</span>
					</div>
					<small>Press <span class="glyphicon glyphicon-plus gs"></span> to view risk :)</small> 
				</div>
			</div>

			
		</div>
	</div>
	</div>
	<script type="text/javascript">
		var text_field = 0
		$(".btn-add-text").click(function(){
			$("#form_field").append("<div class='panel panel-primary'> <a href='javascript:void(0)' onclick='return remove(this)' aria-label='Close'><span class='glyphicon glyphicon-remove-sign btn-lg'></span></a>\
			<div class='panel-body'> <div class='form-group'> \
			<label  class='control-label'>Label</label> \
			<input type='text' class='form-control' name='risk[label["+text_field+"]]' value='' required='' placeholder='Please enter label' pattern='^[a-zA-Z_]*$' maxlength='30' title='Ex: name or first_name'> \
			<span class='help-block'></span> \
			</div><div class='form-group'> \
			<label  class='control-label'>Value</label>\
			  <input type='text' class='form-control' name='risk[value["+text_field+"]]' value='' required='' placeholder='Please enter value'> \
			  <input type='hidden' class='form-control' name='risk[type["+text_field+"]]' value='string' required='' placeholder='Please enter value'>\
			  <span class='help-block'></span> </div> \
			  </div>\
			  </div>")
			text_field =text_field+1;
			$("#counter_field").val(text_field)
		});

		$(".btn-add-number").click(function(){
			
			$("#form_field").append("<div class='panel panel-primary'> <a href='javascript:void(0)' onclick='return remove(this)' aria-label='Close'><span class='glyphicon glyphicon-remove-sign btn-lg'></span></a>\
			<div class='panel-body'> <div class='form-group'> \
			<label  class='control-label'>Label</label> \
			<input type='text' class='form-control' name='risk[label["+text_field+"]]' value='' required='' placeholder='Please enter label' pattern='^[a-zA-Z_]*$' maxlength='30' title='Ex: name or first_name'>\
			  <span class='help-block'></span> </div>\
			  <div class='form-group'> <label  class='control-label'>Value</label>\
			  <input type='number' class='form-control' name='risk[value["+text_field+"]]' value='' required='' placeholder='Please enter value'>\
			  <input type='hidden' class='form-control' name='risk[type["+text_field+"]]' value='integer' required='' placeholder='Please enter value'>\
			  <span class='help-block'></span> </div> </div>\
			  </div>")
			text_field =text_field+1;
			$("#counter_field").val(text_field)
		});

		$(".btn-add-date").click(function(){
			$("#form_field").append("<div class='panel panel-primary'> <a href='javascript:void(0)' onclick='return remove(this)' aria-label='Close'><span class='glyphicon glyphicon-remove-sign btn-lg'></span></a>\
			<div class='panel-body'> <div class='form-group'> \
			<label  class='control-label'>Label</label> \
			<input type='text' class='form-control' name='risk[label["+text_field+"]]' value='' required='' placeholder='Please enter label' pattern='^[a-zA-Z_]*$' maxlength='30' title='Ex: name or first_name'>\
			  <span class='help-block'></span> </div>\
			  <div class='form-group'> <label  class='control-label'>Value</label>\
			  <input type='text' class='form-control datepicker' name='risk[value["+text_field+"]]' value='' required='' placeholder='Please enter value'>\
			  <input type='hidden' class='form-control' name='risk[type["+text_field+"]]' value='date' required='' placeholder='Please enter value'>\
			  <span class='help-block'></span> </div> </div>\
			  </div>")
			text_field =text_field+1;
			$("#counter_field").val(text_field)
		});

		$('body').on('focus',".datepicker", function(){
          $(this).datepicker();
      })

		$("#sub").submit(function(){
			if(text_field!=0){
				return true
			}
			else{
				alert("Please select at least one field")
				return false
			}
		});
	</script>
	
	
</body>
</html>